@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* CARD*/
@layer components {
  .neon-card {
    @apply rounded-xl border border-zinc-200 p-5 transition;
  }

  .neon-card:hover {
    @apply bg-fuchsia-400 shadow-[0_0_20px_rgba(217,70,239,0.6)];
  }

  .neon-card-title,
  .neon-card-text {
    @apply transition;
  }

  .neon-card-link {
    @apply text-zinc-300 underline transition;
  }

  .neon-card-link:hover {
    @apply text-white drop-shadow-[0_0_6px_rgba(255,255,255,0.9)];
  }
}
